.cross-section {
    text-align: center;
    display: flex;
    height: 400px;
    width: 100%;
    position: relative;
}

.cross-info, .cross-info-second {
    position: relative;
    display: inline-block;
    padding: 40px 80px 40px 80px;
    overflow: hidden;
    color: black; 
    /*width: 70%;*/
    flex: 50% 0 0;
    height: 100%;
}

.cross-info-second {
    right: 0;
}

.cross-image-holder::before {
    box-shadow: 0 4px 16px 0 rgba(100, 100, 200), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 146px;
    height: 100%;
    background: white;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.cross-image-holder-second::after{
    box-shadow: 0 4px 16px 0 rgb(126, 84, 29), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 146px;
    height: 100%;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 100%;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1; 
}

.cross-image-holder, .cross-image-holder-second {
    flex: 50% 0 0;
    position: relative;
    overflow: hidden;
}

.order-2 {
    -ms-flex-order: 2;
    order: 2;
}

.cross-image, .cross-image img {
    position: relative;
    overflow: hidden;
    color: #fff; 
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: -3;
}

.cross-image-holder::after, .cross-image-holder-second::before {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}


.cross-info-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross-title {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    color: black;
    font-size: 2em;
}

.cross-descriptions {
    
    font-size: 1.2em;
    padding-bottom: 20px;
}