.head-hero{
    position: relative;
    user-select: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1000;
    
}

.head-hero::before{
    background-image : linear-gradient(180deg, rgba(40, 60, 80, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
}

.hero-holder {
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;*/
    position: absolute;
    align-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-image : linear-gradient(to top, #fff 0%, rgba(255,255,255,0) 40%);
}

.hero-text {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    will-change: opacity; 
    opacity: 1;
    user-select: none;
    width: 80%;
}

.hero {
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.2em; 
    background-color: lightsalmon;
    filter: brightness(80%);
    z-index: -1000;
}

.tagline {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4em;
}